<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.pss.mapper.CatMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.pss.domain.Cat" >
    <id column="id" property="id"  />
	<result column="sn" property="sn"  />
	<result column="name" property="name"  />
  </resultMap>
  <delete id="delete" parameterType="long" >
    delete from cat where id = #{id}
  </delete>
  <insert id="save" parameterType="com.xmg.pss.domain.Cat" useGeneratedKeys="true" keyProperty="id" >
    insert into cat 
    (sn,name)
    values
    (#{sn},#{name})
  </insert>
  <update id="update" parameterType="com.xmg.pss.domain.Cat" >
    update cat
    set
	    sn=#{sn},
	    name=#{name}
    where id = #{id}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="long" >
    select * from cat where id = #{id}
  </select>
  <select id="list" resultMap="BaseResultMap" >
    select * from cat
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="getTotalCount" resultType="long">
  	select count(*) from cat
  	<include refid="conditionSql"/>
  </select>
  <select id="pageQuery" resultMap="BaseResultMap">
  	select * from cat
  	<include refid="conditionSql"/>
  	limit #{beginIndex},#{pageSize}
  </select>
</mapper>