<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.pss.mapper.SystemMenuMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.pss.domain.SystemMenu" >
    <id column="id" property="id"  />
	<result column="sn" property="sn"  />
	<result column="url" property="url"  />
	<result column="name" property="name"  />
		<association property="parent" javaType="com.xmg.pss.domain.SystemMenu"
		select="get" column="parent_id"/>
  </resultMap>
  <delete id="delete" parameterType="long" >
    delete from systemMenu where id = #{id}
  </delete>
  <insert id="save" parameterType="com.xmg.pss.domain.SystemMenu" useGeneratedKeys="true" keyProperty="id" >
    insert into systemMenu 
    (parent_id,sn,url,name)
    values
    (#{parent.id},#{sn},#{url},#{name})
  </insert>
  <update id="update" parameterType="com.xmg.pss.domain.SystemMenu" >
    update systemMenu
    set
	    parent_id=#{parent.id},
	    sn=#{sn},
	    url=#{url},
	    name=#{name}
    where id = #{id}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="long" >
    select * from systemMenu where id = #{id}
  </select>
  <select id="list" resultMap="BaseResultMap" >
    select * from systemMenu
  </select>
  <sql id="conditionSql">
  	<where>
  		<choose>
  			<when test="parentId>0">
  				and parent_id =#{parentId} 			
  			</when>
  			<otherwise>
  				and parent_id is null 
  			</otherwise>
  		</choose>
  	</where>
  </sql>
  <select id="getTotalCount" resultType="long">
  	select count(*) from systemMenu
  	<include refid="conditionSql"/>
  </select>
  <select id="pageQuery" resultMap="BaseResultMap">
  	select * from systemMenu
  	<include refid="conditionSql"/>
  	limit #{beginIndex},#{pageSize}
  </select>
  
  <select id="selectByRoleId" resultMap="BaseResultMap">
		select m.* from systemMenu
		m left JOIN role_menu rm
		on m.id=rm.menu_id
		where rm.role_id=#{menuId}
	</select>
</mapper>